<html>
<head>
  <title>{{ expression.title }}</title>
  <!-- add the law widgets javascript -->
  <script
    type="module"
    src="https://cdn.jsdelivr.net/npm/@lawsafrica/law-widgets@latest/dist/lawwidgets/lawwidgets.esm.js"
  ></script>
</head>
<body>
  <a href="{% url 'home' %}">Home</a>

  <h1>{{ expression.title }}</h1>

  {% if siblings %}
    <h4>Other versions</h4>
    <ul>
      {% for sibling in siblings %}
        <li>
          <a href="{% url 'expression' sibling.frbr_uri %}">
            {{ sibling.date|date:"j E Y" }} ({{ sibling.language_code }})
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- use la-akoma-ntoso law widget to apply styles -->
  <la-akoma-ntoso frbr-expression-uri="{{ expression.frbr_uri }}">
    {{ expression.content|safe }}
  </la-akoma-ntoso>
</body>
