<html>
<head>
  <title>{{ expression.title }}</title>
  <!-- add the law widgets javascript -->
  <script
    type="module"
    src="https://cdn.jsdelivr.net/npm/@lawsafrica/law-widgets@latest/dist/lawwidgets/lawwidgets.esm.js"
  ></script>
  <style>
    .highlighting {
      color: lightgrey;
    }

    .highlighting .highlight {
      color: black;
      background-color: yellow;
    }

    .la-decorate-terms__popup {
        position: relative;
    }
    .la-decorate-internal-refs__popup {
        position: relative;
    }
  </style>
</head>
<body>
  <a href="{% url 'home' %}">Home</a>

  <h1>{{ expression.title }}</h1>

  {% if siblings %}
    <h4>Other versions</h4>
    <ul>
      {% for sibling in siblings %}
        <li>
          <a href="{% url 'expression' sibling.frbr_uri %}">
            {{ sibling.date|date:"j E Y" }} ({{ sibling.language_code }})
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div style="display: flex">
    <aside style="flex: 1">
      <la-table-of-contents-controller
        items="{{ toc_json }}"
        style="position: sticky; top: 0; max-height: 100vh; overflow-y: auto;"
      ></la-table-of-contents-controller>
    </aside>

    <div style="flex: 3">
      <la-decorate-terms popup-definitions link-terms></la-decorate-terms>
      <la-decorate-internal-refs popups flag></la-decorate-internal-refs>

      <div class="la-akoma-ntoso-with-gutter">
        <!-- use la-akoma-ntoso law widget to apply styles -->
        <la-akoma-ntoso frbr-expression-uri="{{ expression.frbr_uri }}">
          {{ expression.content|safe }}
        </la-akoma-ntoso>

        <la-gutter id="gutter">
          {% for enrichment in expression.work.enrichments.all %}
            <la-gutter-item anchor="#{{ enrichment.provision_id }}">{{ enrichment.taxonomy_topic }}</la-gutter-item>
          {% endfor %}
        </la-gutter>
      </div>
    </div>

    <button id="btn-comment" style="position: fixed; top: 10px; right: 10px;">Add comment...</button>
    <select id="select-enrichments" style="position: fixed; top: 40px; right: 10px;">xx</select>
  </div>

  <script>
    document.getElementById('btn-comment').addEventListener('click', (e) => {
      const sel = document.getSelection();
      if (sel && !sel.isCollapsed) {
        let node = sel.getRangeAt(0).commonAncestorContainer;
        // go from a text node to an element
        if (node.nodeType !== document.ELEMENT_NODE) {
          node = node.parentElement;
        }
        // get the nearest element with an eId
        node = node.closest('[data-eid]');
        if (node) {
          const eId = node.getAttribute('data-eid');
          const comment = prompt(`What's your comment on this section? (#${eId})`);
          if (comment) {
            const item = document.createElement('la-gutter-item');
            item.setAttribute('anchor', `#${eId}`);
            item.innerText = comment;
            document.getElementById('gutter').appendChild(item);
          }
        }
      }
    });
  </script>

  <script>
    const select = document.getElementById('select-enrichments');

    // add a mutation observer to take action when items are added to the gutter
    function updateHighlightOptions () {
      // empty the options
      while (select.firstChild) select.removeChild(select.firstChild);
      // add the empty option
      const option = document.createElement('option');
      option.innerText = "(off)";
      option.value = "";
      select.appendChild(option);

      // unique text of gutter items
      const items = [...new Set([...document.querySelectorAll('la-gutter-item')].map((item) => item.innerText))];
      items.sort();

      // add the items as options to the dropdown
      for (const item of items) {
        const option = document.createElement('option');
        option.innerText = item;
        option.value = item;
        select.appendChild(option);
      }
    }

    const observer = new MutationObserver(() => {
      window.setTimeout(updateHighlightOptions, 500);
    });
    observer.observe(document.getElementById('gutter'), { childList: true });
    updateHighlightOptions();

    // when the select changes, highlight the provisions that match by adding a class to those provisions
    select.addEventListener('change', (e) => {
      const doc = document.getElementsByTagName('la-akoma-ntoso')[0];

      // remove any existing highlights
      for (const provision of document.querySelectorAll('.highlight')) {
        provision.classList.remove('highlight');
      }

      const selected = e.target.value;
      if (selected) {
        // turn on highlighting
        doc.classList.add('highlighting');

        // mark each highlighted element
        for (const item of document.querySelectorAll('la-gutter-item')) {
          if (item.innerText === selected) {
            const anchor = item.getAttribute('anchor');
            const provision = doc.querySelector(`[id="${anchor.slice(1)}"]`);
            if (provision) {
              provision.classList.add('highlight');
            }
          }
        }
      } else {
        // turn off highlighting
        doc.classList.remove('highlighting');
      }
    });
  </script>
</body>
